# .gitignore for edx-platform.
# There's a lot here, please try to keep it organized.

### Files private to developers

# Files that should be git-ignored, but are hand-edited or otherwise valued,
# and so should not be destroyed by "make clean".
# start-noclean
requirements/private.txt
lms/envs/private.py
cms/envs/private.py
# end-noclean

### Python artifacts
*.pyc

### Editor and IDE artifacts
*~
*.swp
*.orig
/nbproject
.idea/
.redcar/
codekit-config.json
.pycharm_helpers/
/_mac/*
/IntelliLang.xml
/conda_packages.xml
/databaseSettings.xml
/diff.xml
/debugger.xml
/editor.xml
/ide.general.xml
/inspection/Default.xml
/other.xml
/packages.xml
/web-browsers.xml

### NFS artifacts
.nfs*

### OS X artifacts
*.DS_Store
.AppleDouble
:2e_*
:2e#

### Internationalization artifacts
*.mo
*.po
*.prob
*.dup
!django.po
!django.mo
!djangojs.po
!djangojs.mo
conf/locale/en/LC_MESSAGES/*.mo
conf/locale/fake*/LC_MESSAGES/*.po
conf/locale/fake*/LC_MESSAGES/*.mo
# this was a mistake in i18n_tools, now fixed.
conf/locale/messages.mo

### Testing artifacts
.testids/
.noseids
nosetests.xml
.cache/
.coverage
.coverage.*
coverage.xml
cover/
cover_html/
reports/
jscover.log
jscover.log.*
.pytest_cache/
pytest_task*.txt
.tddium*
common/test/data/test_unicode/static/
test_root/courses/
test_root/data/test_bare.git/
test_root/export_course_repos/
test_root/paver_logs/
test_root/uploads/
django-pyfs
.tox/
common/test/db_cache/bok_choy_*.yaml

### Installation artifacts
*.egg-info
.pip_download_cache/
.prereqs_cache
.vagrant/
node_modules
bin/

### Static assets pipeline artifacts
*.scssc
lms/static/css/
lms/static/certificates/css/
cms/static/css/
common/static/common/js/vendor/
common/static/common/css/vendor/
common/static/bundles
webpack-stats.json

### Styling generated from templates
lms/static/sass/*.css
lms/static/sass/*.css.map
lms/static/certificates/sass/*.css
lms/static/themed_sass/
cms/static/css/
cms/static/sass/*.css
cms/static/sass/*.css.map
cms/static/themed_sass/
themes/**/css

### Logging artifacts
log/
logs
chromedriver.log
ghostdriver.log

### Celery artifacts ###
celerybeat-schedule

### Unknown artifacts
database.sqlite
courseware/static/js/mathjax/*
flushdb.sh
build
/src/
\#*\#
.env/
lms/lib/comment_client/python
autodeploy.properties
.ws_migrations_complete
dist
*.bak

# Visual Studio Code
.vscode

# Language files other thN FRENCH or ENGLISH
cms/static/js/i18n/am/*
cms/static/js/i18n/ar/*
cms/static/js/i18n/az/*
cms/static/js/i18n/bg-bg/*
cms/static/js/i18n/bn-bd/*
cms/static/js/i18n/bn-in/*
cms/static/js/i18n/bs/*
cms/static/js/i18n/ca/*
cms/static/js/i18n/ca@valencia/*
cms/static/js/i18n/cs/*
cms/static/js/i18n/cy/*
cms/static/js/i18n/da/*
cms/static/js/i18n/de-de/*
cms/static/js/i18n/el/*
cms/static/js/i18n/eo/*
cms/static/js/i18n/es-419/*
cms/static/js/i18n/es-ar/*
cms/static/js/i18n/es-ec/*
cms/static/js/i18n/es-es/*
cms/static/js/i18n/es-mx/*
cms/static/js/i18n/es-pe/*
cms/static/js/i18n/et-ee/*
cms/static/js/i18n/eu-es/*
cms/static/js/i18n/fa-ir/*
cms/static/js/i18n/fa/*
cms/static/js/i18n/fake2/*
cms/static/js/i18n/fi-fi/*
cms/static/js/i18n/fil/*
cms/static/js/i18n/gl/*
cms/static/js/i18n/gu/*
cms/static/js/i18n/he/*
cms/static/js/i18n/hi/*
cms/static/js/i18n/hr/*
cms/static/js/i18n/hu/*
cms/static/js/i18n/hy-am/*
cms/static/js/i18n/id/*
cms/static/js/i18n/it-it/*
cms/static/js/i18n/ja-jp/*
cms/static/js/i18n/kk-kz/*
cms/static/js/i18n/km-kh/*
cms/static/js/i18n/kn/*
cms/static/js/i18n/ko-kr/*
cms/static/js/i18n/lt-lt/*
cms/static/js/i18n/ml/*
cms/static/js/i18n/mn/*
cms/static/js/i18n/mr/*
cms/static/js/i18n/ms/*
cms/static/js/i18n/nb/*
cms/static/js/i18n/ne/*
cms/static/js/i18n/nl-nl/*
cms/static/js/i18n/or/*
cms/static/js/i18n/pl/*
cms/static/js/i18n/pt-br/*
cms/static/js/i18n/pt-pt/*
cms/static/js/i18n/ro/*
cms/static/js/i18n/rtl/*
cms/static/js/i18n/ru/*
cms/static/js/i18n/si/*
cms/static/js/i18n/sk/*
cms/static/js/i18n/sl/*
cms/static/js/i18n/sq/*
cms/static/js/i18n/sr/*
cms/static/js/i18n/sv/*
cms/static/js/i18n/sw/*
cms/static/js/i18n/ta/*
cms/static/js/i18n/te/*
cms/static/js/i18n/th/*
cms/static/js/i18n/tr-tr/*
cms/static/js/i18n/uk/*
cms/static/js/i18n/ur/*
cms/static/js/i18n/uz/*
cms/static/js/i18n/vi/*
cms/static/js/i18n/zh-cn/*
cms/static/js/i18n/zh-hk/*
cms/static/js/i18n/zh-tw/*
lms/static/js/i18n/am/*
lms/static/js/i18n/ar/*
lms/static/js/i18n/az/*
lms/static/js/i18n/bg-bg/*
lms/static/js/i18n/bn-bd/*
lms/static/js/i18n/bn-in/*
lms/static/js/i18n/bs/*
lms/static/js/i18n/ca/*
lms/static/js/i18n/ca@valencia/*
lms/static/js/i18n/cs/*
lms/static/js/i18n/cy/*
lms/static/js/i18n/da/*
lms/static/js/i18n/de-de/*
lms/static/js/i18n/el/*
lms/static/js/i18n/eo/*
lms/static/js/i18n/es-419/*
lms/static/js/i18n/es-ar/*
lms/static/js/i18n/es-ec/*
lms/static/js/i18n/es-es/*
lms/static/js/i18n/es-mx/*
lms/static/js/i18n/es-pe/*
lms/static/js/i18n/et-ee/*
lms/static/js/i18n/eu-es/*
lms/static/js/i18n/fa-ir/*
lms/static/js/i18n/fa/*
lms/static/js/i18n/fake2/*
lms/static/js/i18n/fi-fi/*
lms/static/js/i18n/fil/*
lms/static/js/i18n/gl/*
lms/static/js/i18n/gu/*
lms/static/js/i18n/he/*
lms/static/js/i18n/hi/*
lms/static/js/i18n/hr/*
lms/static/js/i18n/hu/*
lms/static/js/i18n/hy-am/*
lms/static/js/i18n/id/*
lms/static/js/i18n/it-it/*
lms/static/js/i18n/ja-jp/*
lms/static/js/i18n/kk-kz/*
lms/static/js/i18n/km-kh/*
lms/static/js/i18n/kn/*
lms/static/js/i18n/ko-kr/*
lms/static/js/i18n/lt-lt/*
lms/static/js/i18n/ml/*
lms/static/js/i18n/mn/*
lms/static/js/i18n/mr/*
lms/static/js/i18n/ms/*
lms/static/js/i18n/nb/*
lms/static/js/i18n/ne/*
lms/static/js/i18n/nl-nl/*
lms/static/js/i18n/or/*
lms/static/js/i18n/pl/*
lms/static/js/i18n/pt-br/*
lms/static/js/i18n/pt-pt/*
lms/static/js/i18n/ro/*
lms/static/js/i18n/rtl/*
lms/static/js/i18n/ru/*
lms/static/js/i18n/si/*
lms/static/js/i18n/sk/*
lms/static/js/i18n/sl/*
lms/static/js/i18n/sq/*
lms/static/js/i18n/sr/*
lms/static/js/i18n/sv/*
lms/static/js/i18n/sw/*
lms/static/js/i18n/ta/*
lms/static/js/i18n/te/*
lms/static/js/i18n/th/*
lms/static/js/i18n/tr-tr/*
lms/static/js/i18n/uk/*
lms/static/js/i18n/ur/*
lms/static/js/i18n/uz/*
lms/static/js/i18n/vi/*
lms/static/js/i18n/zh-cn/*
lms/static/js/i18n/zh-hk/*
lms/static/js/i18n/zh-tw/*
