<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("About")}</h1>
        
        <p><a href="/apropos">Version fran&ccedil;aise</a></p>
        
        <p>EDU<em>lib</em> is the only francophone education consortium in North America. On the initiative of HEC Montréal, EDU<em>lib</em> is now a partnership between Université de Montréal, Polytechnique Montréal and HEC Montréal, which, since September 2014, has offered massive open online courses (MOOCs).</p>
                
        <h2>EDU<em>lib</em>’ Mission</h2>
        <p>EDU<em>lib</em> offers high-quality French-language academic training to as many people as possible. While it does not lead to a university degree, EDU<em>lib</em> provides the general public with access to online educational opportunities. A certificate of completion is awarded to participants who successfully pass course tests and exams. These courses are designed to be widely available as part of a collaborative effort to disseminate knowledge.</p>
        
        
        <h2>Origin of the consortium</h2>
        <p>EDU<em>lib</em> was launched by HEC Montréal in October 2012. EDU<em>lib</em> is now a joint initiative of Université de Montréal and its two university affiliates, HEC Montréal and Polytechnique Montréal. The objective is to offer the greatest number of people first-rate French-language academic training in the different fields of expertise of the three partners. EDU<em>lib</em> courses are modeled on those offered face-to-face. They are given by the same professors and deliver content of university calibre. Course format and frequency may change, but the quality of our teaching remains the same.</p>
        
    
    </section>
</main>
