<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
    <p style="text-align:right;"><a href="/contact_en">English</a></p>
        
    #####<h1>${_("Contact")}</h1>
    <h1>Nous joindre</h1>
    
    <h3>Nous joindre</h3>

    <ul style="list-style-type:none; padding-left:0;">
        <li>Pour les demandes d’information générale: <a href="mailto:info@edulib.org">info@edulib.org</a></li>
        <li>Pour les demandes techniques générales, non reliées à un cours: <a href="mailto:support@edulib.org">support@edulib.org</a></li>
        <li>Pour les demandes reliées à la facturation: <a href="mailto:facturation@edulib.org">facturation@edulib.org</a></li>
    </ul>

    <h3>EDU<em>lib</em>, les membres fondateurs et partenaires</h3>
    
    <p class="member-list">
        <a href="http://www.umontreal.ca" onclick="window.open(this.href);return false;" class="institution"><img src="/static/images/edulib-theme/institutions/umontreal.png" alt="Universit&eacute; de Montr&eacute;al" width="200" height="67" /></a> 
        <span><a href="http://sse.umontreal.ca" onclick="window.open(this.href);return false;">Services de soutien à l&rsquo;enseignement</a><br />
        3535, chemin Queen-Mary<br />
        Montréal (Québec) Canada<br />
        H3V 1H8</span>
    </p>
    
    
    <p class="member-list">
        <a href="http://www.hec.ca" onclick="window.open(this.href);return false;" class="institution"><img src="/static/images/edulib-theme/institutions/hec.png" alt="HEC Montr&eacute;al" width="200" height="67" /></a> 
        <span><a href="http://www.hec.ca/daip/" onclick="window.open(this.href);return false;">Direction de l&rsquo;apprentissage et de l&rsquo;innovation pédagogique</a><br />
        3000, chemin de la Côte-Sainte-Catherine<br />
        Montréal (Québec) Canada<br />
        H3T 2A7</span>
    </p>
    
    
    <p class="member-list">
        <a href="http://www.polymtl.ca" onclick="window.open(this.href);return false;" class="institution"><img src="/static/images/edulib-theme/institutions/polymtl.png" alt="Polytechnique Montr&eacute;al" width="200" height="67" /></a> 
        <span><a href="http://www.polymtl.ca/bap/" onclick="window.open(this.href);return false;">Bureau d&rsquo;appui pédagogique Polytechnique Montréal</a><br />
        2900, boul. Édouard-Montpetit<br />
        Campus de l'Université de Montréal<br />
        2500, chemin de Polytechnique<br />
        Montréal (Québec) Canada<br />
        H3T 1J4</span>
    </p>
    
    
    <h3>EDU<em>lib</em>, les membres associés</h3>    
    
    <p class="member-list">
        <a href="http://www.usherbrooke.ca" onclick="window.open(this.href);return false;" class="institution"><img src="/static/images/edulib-theme/institutions/usherbrooke.png" alt="Universit&eacute; de Sherbrooke" width="200" height="67" /></a> 
        <span><a href="https://www.usherbrooke.ca/ssf/" onclick="window.open(this.href);return false;">Service de soutien à la formation</a><br />
        Université de Sherbrooke<br />
        2500, boul. de l&rsquo;Université<br />
        Sherbrooke (Québec) Canada<br />
        J1K 2R1</span>
    </p>
    
    <p class="member-list">
        <a href="http://www.uqac.ca/" onclick="window.open(this.href);return false;" class="institution"><img src="/static/images/edulib-theme/institutions/uqac.png" alt="Universit&eacute; du Qu&eacute;bec &agrave; Chicoutimi" width="200" height="67" /></a> 
        <span><a href="http://cesam.uqac.ca" onclick="window.open(this.href);return false;">Centre du savoir sur mesure</a><br />
        Université du Québec à Chicoutimi<br />
        555, boul. de l&rsquo;Université<br />
        Chicoutimi (Québec) Canada<br />
        G7H 2B1</span> 
    </p>



</section>
