<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>
    
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <p style="text-align:right;"><a href="/faq_en">English</a></p>
        
        #####<h1>${_("FAQ")}</h1>
        <h1>FAQ</h1>
        

        <ul style="list-style-type:none; padding-left:0;">
            <li><a href="#qui">Qui peut suivre les cours d&rsquo;EDU<em>lib</em>?</a></li>
            <li><a href="#cours">Est-ce de vrais cours universitaires?</a></li>
            <li><a href="#attestation">Y aura-t-il une attestation?</a></li>
            <li><a href="#credits">Si je réussis le cours, pourrais-je par la suite obtenir des crédits universitaires des institutions participantes?</a></li>
            <li><a href="#inscription">Comment puis-je m&rsquo;inscrire?</a></li>
            <li><a href="#evaluation">Comment serais-je évalué?</a></li>
            <li><a href="#contribution">Vais-je pouvoir contribuer au cours?</a></li>
            <li><a href="#anonymat">Serais-je anonyme?</a></li>
            <li><a href="#video">J&rsquo;ai de la difficulté à visionner les vidéos. Pourquoi?</a></li>
            <li><a href="#configuration">Quelle est la configuration requise pour utiliser EDU<em>lib</em>?</a></li>
        </ul>


        <h3><a name="qui"></a>Qui peut suivre les cours d&rsquo;EDU<em>lib</em>?</h3>

        <p>Les cours d&rsquo;EDU<em>lib</em> sont ouverts à tous. Ils s'adressent donc à tous ceux qui désirent parfaire leurs connaissances.</p>


        <h3><a name="cours"></a>Est-ce de vrais cours universitaires?</h3>

        <p>Oui, il s'agit de cours de niveau universitaire. Bien que les cours se donnent en ligne, la matière et la rigueur demeurent les mêmes que dans les cours habituels des institutions participantes. On s&rsquo;attend donc à ce que les participants consacrent entre trois et six heures de travail personnel par semaine à chaque cours (visionnement des vidéos, lectures complémentaires, exercices et tests).</p>


        <h3><a name="attestation"></a>Y aura-t-il une attestation?</h3>

        <p>Oui, une attestation est habituellement offerte. Celle-ci peut être émise avec ou sans frais.</p>

        <p>La décision d&rsquo;émettre ou non une attestation est à la seule discrétion de l&rsquo;institution et de l&rsquo;enseignant responsable du cours. Les conditions d&rsquo;obtention sont détaillées dans la page &laquo; À propos &raquo; (About) sur le site du cours.</p>

        <p>Dans tous les cas, il faudra réussir les exercices et les examens prévus par l&rsquo;enseignant dans les délais impartis afin d&rsquo;obtenir une attestation. Celle-ci sera en format PDF, libellée aux prénom et nom fournis lors de l&rsquo;inscription.</p>


        <h3><a name="credits"></a>Si je réussis le cours, pourrais-je par la suite obtenir des crédits universitaires des institutions participantes?</h3>

        <p>Non, les cours réussis dans le cadre d&rsquo;EDU<em>lib</em> ne sont pas reconnus pour l&rsquo;obtention de crédits universitaires. Les institutions participantes ne donnent des crédits qu&rsquo;aux étudiants inscrits dans leurs programmes réguliers.</p>


        <h3><a name="inscription"></a>Comment puis-je m&rsquo;inscrire?</h3>

        <p>Pour accéder aux cours d&rsquo;EDU<em>lib</em>, il suffit de créer un compte puis d&rsquo;ouvrir une session. Vous pouvez ensuite vous inscrire au cours de votre choix parmi la liste de cours disponibles.</p>


        <h3><a name="evaluation"></a>Comment serais-je évalué?</h3>

        <p>Les modes d&rsquo;évaluation peuvent changer d&rsquo;un cours à l&rsquo;autre. De manière générale, vous devrez compléter un quiz par semaine et faire un examen final.</p>


        <h3><a name="contribution"></a>Vais-je pouvoir contribuer au cours?</h3>

        <p>Un forum de discussion est disponible dans tous les cours. Vous pouvez facilement partager vos commentaires et réflexions avec les autres participants, à condition de respecter les règles énoncées dans les <a href="../tos#forums">Conditions générales du service</a>.</p>


        <h3><a name="anonymat"></a>Serais-je anonyme?</h3>

        <p>Non. Toutes vos interventions portent votre identification.</p>


        <h3><a name="video"></a>J&rsquo;ai de la difficulté à visionner les vidéos. Pourquoi?</h3>

        <p>Il est possible que vous soyez dans un lieu depuis lequel il est impossible de visionner les vidéos en provenance de YouTube; par exemple votre école ou votre lieu de travail. Si c&rsquo;est le cas, essayez de les visionner à partir de votre domicile ou d&rsquo;une bibliothèque publique.</p>

        <p>Il est aussi possible que vous ayez une connexion Internet à bas débit. Dans certains cours, vous pouvez télécharger une version basse résolution des vidéos localement sur votre ordinateur. Si une version basse résolution est disponible, un lien de téléchargement est offert sous de la vidéo.</p>

        <p>Obtenez de l&rsquo;aide additionnelle sur le visionnement des vidéos en consultant <a href="https://support.google.com/youtube/topic/6077002?hl=fr&ref_topic=3014746" onclick="window.open(this.href);return false;">l&rsquo;aide de YouTube</a>.</p>


        <h3><a name="configuration"></a>Quelle est la configuration requise pour utiliser EDU<em>lib</em>?</h3>

        <p>EDU<em>lib</em> fonctionne avec la plupart des fureteurs et systèmes d&rsquo;exploitation modernes, incluant Microsoft Windows 10, macOS et Linux.</p>

        <ul>
            <li>Chrome et Firefox (dernières versions)</li>
            <li>Internet Explorer (version 10 et 11) sur Windows</li>
            <li>Safari (dernière version) sur macOS</li>
        </ul>

        <p>Notez qu&rsquo;il est préférable de configurer votre fureteur de la façon suivante pour utiliser EDU<em>lib</em>:</p>

        <ul>
            <li>Mettre à jour le fureteur à la dernière version disponible;</li>
            <li>Accepter les cookies venant du site;</li>
            <li>Autoriser les fenêtres pop-up;</li>
            <li>Activer JavaScript;</li>
            <li>Régler la résolution de votre moniteur à au moins 1024 x 768 pixels;</li>
            <li>Installer la version la plus récente du gratuiciel <a href="https://get.adobe.com/fr/reader/" onclick="window.open(this.href);return false;">Adobe Reader</a>.</li>
        </ul>


    </section>
</main>