<%! from xmodule.modulestore.django import modulestore %>

<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>

<%inherit file="../main.html"/>
<%namespace name='static' file='../static_content.html'/>

<%! from microsite_configuration import microsite %>

<%block name="pagetitle">HEC Montr&eacute;al</%block>

<%
platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)

course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))
default_image_url = settings.STATIC_URL + 'images/default-theme/logo-large.png'

logo_file = microsite.get_value('course_index_overlay_logo_file', default_image_url)
logo_alt_text = "EDUlib Logo"
%>

<section class="home">

<section class="container edulib">
    
        <p style="text-align:right;"><a href="/hec">Fran&ccedil;ais</a></p>
        
        <h1><img src="/static/images/edulib-theme/institutions/hec.png" alt="HEC Montr&eacute;al" width="600" height="200" /></h1>
                
        <p>A renowned innovator, HEC Montreal was the first business school in North America to be awarded the three most prestigious international accreditations in its field: AACSB International (United States), EQUIS (Europe) and AMBA (United Kingdom). HEC welcomes more than <span style="white-space: nowrap;">13,000</span> students to its management education programs, ranging from BAA to MBA to PhD. Its faculty is made up of more than 270 professors. HEC remains at the forefront thanks to some 50 research units, including 26 chairs. The school spearheads projects around the world and is dedicated to the training of tomorrow's leaders. Since its founding in 1907, HEC has produced more than <span style="white-space: nowrap;">78,000</span> graduates in a variety of business administration sectors.</p>
        
        <p><a href="http://www.hec.ca/en/" onclick="window.open(this.href);return false;">http://www.hec.ca/en/</a></p>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter = 0 %>
    %endif

    <% for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=False):
           if not course.has_started() and course.org.lower() == "hec" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>${_("Coming Soon")}</h1>
    %endif

    <section class="courses-container">
    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">
               %for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=False):
                    %if not course.has_started() and course.org.lower() == "hec" and course.catalog_visibility == "both" :
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor
           </ul>
        </section>
    </section>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter = 0 %>
    %endif

    <% for course in sorted(modulestore().get_courses(),key=lambda x: (x.start is None, x.start), reverse=False):
           if course.has_started() and not course.has_ended() and course.org.lower() == "hec" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>${_("In Progress")}</h1>
    %endif

    <section class="courses-container">
    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">
               %for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=False):
                    % if ((course.has_started() and not course.has_ended() and not (course.end_datetime_text() == "") ) or (not course.has_started())) and course.org.lower() == "hec" and course.catalog_visibility=="both":
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor
               %for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=True):
                    % if ((course.has_started() and not course.has_ended() and (course.end_datetime_text() == "")) ) and course.org.lower() == "hec" and course.catalog_visibility=="both":
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor
           </ul>
        </section>
    </section>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter  = 0  %>
    %endif

    <% for course in sorted(modulestore().get_courses(),key=lambda x: (x.end is None, x.end), reverse=True):
           if course.has_ended() and course.org.lower() == "hec" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>${_("Completed")}</h1>
    %endif

    <section class="courses-container">
    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">
               %for course in sorted(modulestore().get_courses(),key=lambda x: (x.end is None, x.end), reverse=True):
                    %if course.has_ended() and course.org.lower() == "hec" and course.catalog_visibility == "both" :
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor
           </ul>
        </section>
    </section>
    </section>


</section>
</section>
