<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("In the Press")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("In the Press")}</%block>
        </h1>
        
        <div lang="fr">
            <h3 style="text-align:center;"><a href="http://edulib-nouvelles.blogspot.ca/">Cliquez ici pour accéder aux nouvelles</a></h3>
        </div>

        <div lang="en">
            <h3 style="text-align:center;"><a href="http://edulib-nouvelles.blogspot.ca/">Click this link to access news</a></h3>
        </div>
        

        <script type="text/javascript">
            window.location.href = 'http://edulib-nouvelles.blogspot.ca/';
        </script>
    </section>
</main>
