<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Privacy Policy")}</%block>
        </h1>
        
        <div lang="fr">
            <h3 style="text-align:center;"><a href="/tos#confidentialite">Cliquez ici pour accéder à la politique de confidentialité</a></h3>
        </div>

        <div lang="en">
            <h3 style="text-align:center;"><a href="/tos#privacy">Click this link to access our privacy policy</a></h3>
        </div>
        
        
    
    <script type="text/javascript">
        window.location.href = '/tos#confidentialite';
    </script>
    </section>
</main>
