<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />

    <style media="screen" type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
        
        h1, h2 {
            font-family: 'Open Sans',Verdana,Arial,sans-serif;
            margin-bottom: .3em;
            font-size: 2.0em;
            line-height: 1.25em;
            text-rendering: optimizeLegibility;
            font-weight: bold;
            color: #000000;
          }
        
          h2 {
            font-size: 1.8em;
            color: #5b5e63;
          }
        
          p {
            font-family: 'Open Sans',Verdana,Arial,sans-serif;
            margin: auto;
            margin-bottom: 1em;
            font-weight: 200;
            line-height: 1.4em;
            font-size: 1.1em;
            max-width: 80%;
          }
            
        div {
            margin: auto;
            width: 800px;
            text-align: center;
            padding: 20px 0px 0px 0px;
        }
        
        
    </style>    

<main id="main" aria-label="Content" tabindex="-1">
    <section class="outside-app">
        
        <div>
            <h1>Nous &eacute;prouvons quelques difficult&eacute;es&#8230;</h1>
            <h1>(✖╭╮✖)</h1>
            <h2>Erreur du serveur</h2>
            <p>Nous avons &eacute;t&eacute; avis&eacute;s de cette erreur. Si cette erreur persiste, veuillez nous contacter &agrave; l&#8217;adresse <a href="mailto:support@edulib.org">support@edulib.org</a>.</p>
      </div>
    </section>
</main>
