<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Terms of Service")}</h1>

        <h3 style="text-align:right;">Updated November 17, 2016</h3>    

        <p><a href="/cgs">Version fran&ccedil;aise</a></p>
        
        <ul style="list-style-type:none; padding-left:0;">
            <li><a href="#introduction">1. Introduction</a></li>
            <li><a href="#subject">2. Subject</a></li>
            <li><a href="#rights">3. Rights and Responsibilities of Persons Registered on EDU<em>lib</em></a></li>
            <li style="margin-left: 0.5em;"><a href="#privacy">3.1 Privacy Policy</a></li>
            <li style="margin-left: 0.5em;"><a href="#research">3.2 Data Anonymization for Research Purposes</a></li>
            <li style="margin-left: 0.5em;"><a href="#copyright">3.3 Royalties and Copyright</a></li>
            <li style="margin-left: 0.5em;"><a href="#forums">3.4. Homework and Discussion Forums</a></li>
            <li style="margin-left: 0.5em;"><a href="#cookies">3.5 Use of Cookies</a></li>
            <li><a href="#certificates">4. Certificates</a></li>
            <li style="margin-left: 0.5em;"><a href="#identity">4.1 Certificates and Identity Verification</a></li>
            <li style="margin-left: 0.5em;"><a href="#payment">4.2 Payment for Certificates </a></li>
            <li style="margin-left: 0.5em;"><a href="#refund">4.3 Refund Policy</a></li>
            <li style="margin-left: 0.5em;"><a href="#verification">4.4 Identity Verification</a></li>
            <li><a href="#commitment">5. EDU<em>lib</em>&rsquo;s Commitment</em></a></li>
        </ul>

        <h3><a name="introduction"></a>1. Introduction</h3>

        <p>These Terms of Service describe the provisions by which EDU<em>lib</em> creates content and hosts online courses on its website under the <a href="https://cours.EDU<em>lib</em>.org">EDU<em>lib</em>.org</a> domain name, specifically the <a href="https://cours.EDU<em>lib</em>.org">cours.EDU<em>lib</em>.org</a> server. Please read these terms before registering or using any part of the website. By using this site, you agree to its Terms of Service. EDU<em>lib</em> reserves the right to change these terms at any time. The new date by which these terms take effect will be indicated at the top of this page. In accessing the site after that date, you are agreeing to accept the new terms.</p>

        <p>If you do not understand these terms or you do not wish to be legally bound, please do not use the sites under the <a href="https://cours.EDU<em>lib</em>.org">EDU<em>lib</em>.org</a> domain name.</p>

        <p>EDU<em>lib</em> reserves the right to deny access or exclude without prior notice any user who does not respect the Terms of Service, without limitation to any other right or recourse EDU<em>lib</em> might have, including as to damages, and to also remove any contributions or comments particularly in respect of violations under the law and claims by a third party.</p>


        <h3><a name="subject"></a>2. Subject</h3>

        <p>EDU<em>lib</em> was launched by HEC Montr&eacute;al in October 2012 with the goal of making first-rate French-language university education in the field of management available to the greatest number of people. EDU<em>lib</em> is now a joint initiative of Universit&eacute; de Montr&eacute;al and its two affiliated schools, HEC Montr&eacute;al and Polytechnique Montr&eacute;al, the founding members. While the goal remains the same, our offering has expanded to include courses in the fields of expertise of the three partners. EDU<em>lib</em> courses are modeled on face-to-face instruction: they are taught by the same professors, and their content is of a university calibre. Course format and frequency may change, but the quality of our teaching does not.</p>


        <h3><a name="rights"></a>3. Rights and Responsibilities of Persons Registered on EDU<em>lib</em></h3>

        <h4><a name="privacy"></a>3.1 Privacy Policy</h4>

        <p>By registering on EDU<em>lib</em>, you agree to provide your first name, last name and a valid email as well as a unique identifier. You also agree to allow participating institutions to create a file containing your personal information. This information is confidential. It will be used for the purpose of creating your user file, which will be kept in accordance with the retention schedule adopted under the provisions of the Quebec Archives Act. Information collected is compulsory in nature, and anyone who refuses to provide it will be prevented from registering on EDU<em>lib</em>.</p>

        <p>You have the right to request access to your file and have any inaccurate, incomplete, or ambiguous information corrected. By registering on EDU<em>lib</em> and engaging in EDU<em>lib</em> activities, the participant undertakes to comply with the provisions of the law, statutes, regulations, resolutions, policies, guidelines, and practices of the participating institutions.</p>

        <p>Any falsified document, false statement, or failure to provide required information can result in cancellation of a user's EDU<em>lib</em> account.</p>

        <p>You also authorize participating institutions to contact you by email at the address provided in the registration form, so they may inform you about various activities and products.</p>


        <h4><a name="research"></a>3.2 Data Anonymization for Research Purposes</h4>

        <p>Within the EDU<em>lib</em> course framework, authorized research teams collect and analyze the digital footprints of user activity in order to generate new scientific knowledge and improve course content. The digital footprints to which researchers have access are anonymized using a computer process that ensures all personal data by which a user can be identified is removed and their identity is irreversibly altered</p>


        <h3><a name="copyright"></a>3.3 Royalties and Copyright</h4>

        <p>The participating institutions hold the copyright of the presentations and materials to which you have access through EDU<em>lib</em> and by joining EDU<em>lib</em> and accessing the services it provides, you agree that you will NOT undertake any of the following activities:</p>

        <ul>
            <li>Record the presentation;</li>
            <li>Sell or rent such a recording;</li>
            <li>Circulate this recording in a manner that would injure the participating institutions;</li>
            <li>Sell or rent such a recording or publicize it for commercial purposes;</li>
            <li>Forward the recording via telecommunications to unauthorized third parties;</li>
            <li>Share recordings of the presentations and educational material to which you have access through EDU<em>lib</em> on sites such as YouTube;</li>
            <li>Bypass or contravene safeguards implemented by the participating institutions or any person acting with their permission.</li>
        </ul>

        <p>You also agree not to give access to the EDU<em>lib</em> site to individuals who are not registered for this service.</p>


        <h3><a name="forums"></a>3.4. Homework and Discussion Forums</h4>

        <p>By registering on EDU<em>lib</em>, you will be able to participate in the homework and discussion forums open to those enrolled in the course. By virtue of participating, you agree to comply with the following rules:</p>

        <ul>
            <li>To be courteous and respectful of other participants and their comments
            <li>To only post content of which you are the author and cite any sources when posting other people&rsquo;s content;</li>
            <li>Not to post offensive content that is likely to expose a person or group to hatred or contempt based on their race, origin, colour, religion, gender, sexual orientation, age, or physical and mental disability;</li>
            <li>To have your content removed if it contains one of the following elements:
            <ul>
                <li>pornographic, vulgar, obscene, or sexually explicit content;</li>
                <li>illegal material (for example contravening a court order);</li>
                <li>hate speech;</li>
                <li>threats or harassment;</li>
                <li>personal attacks, insults or defamatory content;</li>
                <li>threats or incitement to commit a crime.
            </ul></li>
            <li>To have your access to EDU<em>lib</em> forums suspended if you do not respect the rules enumerated above.;</li>
            <li>To have your EDU<em>lib</em> ID displayed in each of your posts (EDU<em>lib</em> forums are not anonymous);</li>
            <li>By posting content in the discussion forums, you grant the participating institutions non-exclusive right to use it indefinitely, without charge, and to move it to any other site.</li> 
            <li>Participants who use or post any comments, messages, or images in the discussion forums assume full responsibility for them. Participants&rsquo; comments posted in the forum do not represent the views of the participating institutions. The participating institutions bear no responsibility for any loss or damage suffered as a result of the use of the discussion forums.</li>
            <li>The participant agrees to indemnify and hold harmless the participating institutions as well as their officers, directors, employees and representatives against any lawsuit, claim, fine, loss, damage or cost, including court and attorney fees, resulting from the use of the EDU<em>lib</em> site and its discussion forums.</li>
        </ul>


        <h3><a name="cookies"></a>3.5 Use of Cookies</h4>

        <p>Some information is gathered through cookies, small text files stored on your computer that collect information about you and can be consulted by our webmasters.</p>

        <p>A cookie does not identify you. Generally speaking, it records information about how you navigate the EDU<em>lib</em> site (the pages you visit, the date and time, etc.). This enables the site to access the cookie&rsquo;s data during your subsequent visits. In this instance, it contains information you have already provided. That way you won't need to complete certain forms each time your visit.</p>

        <p>You can refuse to accept the cookies via the preferences in your browser. Most browsers provide instructions on how to disable cookies in the “Help” section of their toolbar. The browser settings allow you to adjust your cookie permissions to block some and make exceptions for others. However, if you choose to disable cookies, certain features of the website might not work properly.</p>


        <h3><a name="certificates"></a>4. Certificates</h3>

        <p>EDU<em>lib</em> and its partner institutions who offer courses via the website can provide a certificate to students who have demonstrated mastery of the course material. Certificates are issued by the institution and the professor in charge of the course. The decision as to whether or not to issue a certificate is at the sole discretion of the institution and the professor. A fee may or may not be charged, also at the discretion of institution and the professor. This is will be indicated in the "About" section of the course. Even when a fee is charged for the certificate, access to the course remains free.</p>


        <h4><a name="identity"></a>4.1 Certificates and Identity Verification</h4>

        <p>Certificates are issued in the name given by the participant upon registering for the course.</p>

        <p>Paid certificates will be issued once the participant's name and identity have been verified in one of the following ways: previously verified email address, a photo of the participant, photo ID issued by a government or other approved means of reference.</p>


        <h4><a name="payment"></a>4.2 Payment for Certificates </h4>

        <p>Some courses charge a fee for receiving a certificate, but access to the course is still free. If your identity has not been previously verified, the following steps will be taken in regards to your registration:</p>

        <ul>
            <li>You will be asked to submit a photo and some form of identification. These two pieces of ID will be later validated.</li>

            <li>The certificate fee will be charged to your credit card by a third-party service provider.</li>

            <li>Once the transaction is completed, you will be redirected to the EDU<em>lib</em> site, and you will receive an email confirming your name, order number, and the amount paid. Please keep this information for any future refund requests.</li>
        </ul>


        <h4><a name="refund"></a>4.3 Refund Policy</h4>

        <p>You may drop a course and request a refund within 14 calendar days of the start of the course (grace period). To do so, click the "Unsubscribe" link on the course page in your dashboard and send a request for a refund by email to <a href="mailto:facturation@edulib.org">facturation@edulib.org</a>. Include your name and purchase order number in the email. Refunds will be credited to the credit card you used when you placed the order and can take up to two payment cycles to be processed. EDU<em>lib</em> is under no obligation to issue a refund after the grace period has expired.</p>


        <h4><a name="verification"></a>4.4 Identity Verification</h4>

        <p>In order to verify your identity, and even after registration, you may be asked to take a selfie and a photo of one of your ID cards. Access to this information is restricted in accordance with EDU<em>lib</em>'s privacy policy.</p>

        <p>The following ID documents are eligible:</p>
        <ul>
            <li>Driver's license</li>
            <li>Passport</li>
            <li>Government-issued photo ID</li>
        </ul>

        <p>In order to be accepted, your ID must:</p>
        <ul>
            <li>Contain the same first and last names as the ones you used to register on EDU<em>lib</em>;</li>
            <li>Be current (less than 10 years old);</li>
            <li>Be valid.</li>
        </ul>

        <p>If these criteria are not met, EDU<em>lib</em> cannot validate your identity or provide you with authorized certificates.</p>


        <h3><a name="commitment"></a>5. EDU<em>lib</em>&rsquo;s Commitment</h3>

        <p>EDU<em>lib</em> is an educational initiative that does not lead to a university degree or provide acceptance to the academic programs of its partners. The courses have been designed to be accessible to a larger public in a collaborative effort to disseminate knowledge.</p>

        <p>EDU<em>lib</em> and its partners are committed to using all reasonable means at their disposal to provide quality access to participants but are not bound by any obligation to ensure this. EDU<em>lib</em> and its partners cannot be held responsible for any damage, regardless of their nature, resulting from the unavailability of the website.</p>

        <p>Moreover, EDU<em>lib</em> and its partners cannot be held responsible for any malfunction of the network servers or any other event beyond their reasonable control that prevents or degrades access.</p>

        <p>EDU<em>lib</em> and its partners reserve the right to interrupt, temporarily suspend, or modify access to any part of the site in order to conduct maintenance or for any other reason, without notice and without being under any obligation to provide compensation.</p>

        <p>Except in the event that they were duly informed of the existence of illegal content and did not act promptly to remove it, EDU<em>lib</em> and its partners cannot be held responsible for the dissemination of such content.</p>

        <p>Note: These Terms of Service are based on previous versions of EDU<em>lib</em> documents, the <a href="https://www.edx.org/edx-terms-service" onclick="window.open(this.href);return false;">Terms of Service  of edX</a>, the <a href="https://www.france-universite-numerique-mooc.fr/tos" onclick="window.open(this.href);return false;">Conditions g&eacute;n&eacute;rales d&rsquo;utilisation of France universit&eacute; num&eacute;rique</a> and the <a href="https://www.ulibre.ca/tos" onclick="window.open(this.href);return false;">Conditions g&eacute;n&eacute;rales d&rsquo;utilisation of ULibre.ca</a>.</p>
    </section>
</main>
