<%! from xmodule.modulestore.django import modulestore %>

<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>

<%inherit file="../main.html"/>
<%namespace name='static' file='../static_content.html'/>

<%! from microsite_configuration import microsite %>

<%block name="pagetitle">Universit&eacute; de Sherbrooke</%block>

<%
platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)

course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))
default_image_url = settings.STATIC_URL + 'images/default-theme/logo-large.png'

logo_file = microsite.get_value('course_index_overlay_logo_file', default_image_url)
logo_alt_text = "EDUlib Logo"
%>

<section class="home">

<section class="container edulib">
        
        <p style="text-align:right;"><a href="/usherbrooke_en">English</a></p>
        
        <h1><img src="/static/images/edulib-theme/institutions/usherbrooke.png" alt="Universit&eacute; de Sherbrooke" width="600" height="200" /></h1>
        
        <p>L&rsquo;Université de Sherbrooke est une université francophone et le coeur d&rsquo;un des trois pôles d&rsquo;enseignement et de recherche du Québec. Située à Sherbrooke, elle compte plus de 40 000 étudiantes et étudiants provenant de 88 pays, dont quelque 10 500 inscrits à l&rsquo;Université du troisième âge. Ses facultés de Droit, d&rsquo;Éducation, de Génie, des Lettres et sciences humaines, de Médecine et sciences de la santé, des Sciences de l&rsquo;activité physique et des Sciences, ainsi que son École de gestion, offrent plus de 390 formations aux trois cycles, dans la plupart des grandes filières.</p>
        
        <p>Elle compte trois campus, le Campus principal et le Campus de la santé à Sherbrooke, et le Campus de Longueuil en Montérégie.</p>
        
        <p>L&rsquo;Université de Sherbrooke est une pionnière de l&rsquo;enseignement coopératif. Elle est aujourd&rsquo;hui considérée comme le chef de file de cette méthode qui permet à plusieurs étudiants d&rsquo;ajouter à leurs connaissances théoriques une expérience pratique acquise en milieu de travail grâce aux stages rémunérés.</p>
        
        <p>La réputation d&rsquo;excellence de l&rsquo;Université de Sherbrooke s&rsquo;appuie également sur ses activités de recherche qui ont conduit à des découvertes majeures et qui connaissent une croissance fulgurante. De nombreux transferts technologiques sont effectués vers les entreprises afin de favoriser la commercialisation de technologies compétitives. L&rsquo;Université de Sherbrooke se démarque également par ses initiatives en matière d&rsquo;entrepreneuriat et d&rsquo;innovation ouverte en collaboration avec les milieux.</p>
    
        <p><a href="http://www.usherbrooke.ca" onclick="window.open(this.href);return false;">http://www.usherbrooke.ca</a></p>
    
    
    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter = 0 %>
    %endif

    <% for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=True):
           if not course.has_started() and course.org.lower() == "usherbrooke" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>${_("Coming Soon")}</h1>
    %endif

    <section class="courses-container">
    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">
               %for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=True):
                    %if not course.has_started() and course.org.lower() == "usherbrooke" and not course.has_ended() and course.catalog_visibility == "both" :
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor
           </ul>
        </section>
    </section>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter = 0 %>
    %endif

    <% for course in sorted(modulestore().get_courses(),key=lambda x: (x.start is None, x.start), reverse=True):
           if course.has_started() and not course.has_ended() and course.org.lower() == "usherbrooke" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>${_("In Progress")}</h1>
    %endif

    <section class="courses-container">
    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">

               %for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=True):
                    % if course.has_started() and not course.has_ended() and (course.end is not None) and course.org.lower()=="usherbrooke" and course.catalog_visibility=="both":
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor
               %for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=True):
                    % if course.has_started() and not course.has_ended() and not (course.end is not None) and course.org.lower()=="usherbrooke" and course.catalog_visibility=="both":
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor

           </ul>
        </section>
    </section>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter  = 0  %>
    %endif

    <% for course in sorted(modulestore().get_courses(),key=lambda x: (x.end is None, x.end), reverse=True):
           if course.has_ended() and course.org.lower() == "usherbrooke" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>${_("Completed")}</h1>
    %endif

    <section class="courses-container">
    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">
               %for course in sorted(modulestore().get_courses(),key=lambda x: (x.end is None, x.end), reverse=True):
                    %if course.has_ended() and course.org.lower() == "usherbrooke" and course.catalog_visibility == "both" :
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor
           </ul>
        </section>
    </section>
    </section>

</section>
</section>
