<%! from xmodule.modulestore.django import modulestore %>

<%! from django.utils.translation import ugettext as _ %>

<%! from django.core.urlresolvers import reverse %>

<%inherit file="../main.html"/>
<%namespace name='static' file='../static_content.html'/>

<%! from microsite_configuration import microsite %>

<%block name="pagetitle">Universit&eacute; de Sherbrooke</%block>

<%
platform_name = microsite.get_value('platform_name', settings.PLATFORM_NAME)

course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore courses from {platform_name}.").format(platform_name=platform_name))
default_image_url = settings.STATIC_URL + 'images/default-theme/logo-large.png'

logo_file = microsite.get_value('course_index_overlay_logo_file', default_image_url)
logo_alt_text = "EDUlib Logo"
%>

<section class="home">

<section class="container edulib">

        <p style="text-align:right;"><a href="/usherbrooke">Fran&ccedil;ais</a></p>
    
        <h1><img src="/static/images/edulib-theme/institutions/usherbrooke.png" alt="Universit&eacute; de Sherbrooke" width="600" height="200" /></h1>
                
        <p>The Université de Sherbrooke is a French-speaking university and the heart of one Quebec&rsquo;s three research and teaching hubs. Located in Sherbrooke, it has a population of more than 40,000 students from 88 countries, including about 10,500 enrolled in the University of the Third Age. The University&rsquo;s faculties of Law, Education, Engineering, Humanities and Social Sciences, Medicine and Health Sciences, Physical Activity, and Science, as well as its School of Management, offer more than 390 undergraduate and graduate programs in most of the main areas of study.</p>
        
        <p>The University extends across three campuses: the Main Sherbrooke Campus and the Sherbrooke Health Campus, and the Longueuil Campus in Montérégie.</p>
        
        <p>The Université de Sherbrooke stands out as a pioneer in cooperative education. Today, the institution is considered the leader in this approach, which enables many students to round out their theoretical knowledge with practical experience acquired during paid internships in industry and businesses.</p>
        
        <p>The University&rsquo;s reputation for excellence also rests on research activities that have grown at a breathtaking pace and have led to major discoveries. In addition, the University has promoted the commercialization of competitive technologies through a significant amount of technology transfer. The Université de Sherbrooke also stands out for its entrepreneurship and open-innovation initiatives in cooperation with various communities.</p>
    
        <p><a href="https://www.usherbrooke.ca/accueil/english/overview/" onclick="window.open(this.href);return false;">https://www.usherbrooke.ca/accueil/english/overview/</a></p>
    
    
    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter = 0 %>
    %endif

    <% for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=False):
           if not course.has_started() and course.org.lower() == "usherbrooke" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>${_("Coming Soon")}</h1>
    %endif

    <section class="courses-container">
    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">
               %for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=False):
                    %if not course.has_started() and course.org.lower() == "usherbrooke" and not course.has_ended() and course.catalog_visibility == "both" :
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor
           </ul>
        </section>
    </section>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter = 0 %>
    %endif

    <% for course in sorted(modulestore().get_courses(),key=lambda x: (x.start is None, x.start), reverse=False):
           if course.has_started() and not course.has_ended() and course.org.lower() == "usherbrooke" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>${_("In Progress")}</h1>
    %endif

    <section class="courses-container">
    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">

               %for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=False):
                    % if course.has_started() and not course.has_ended() and (course.end is not None) and course.org.lower()=="usherbrooke" and course.catalog_visibility=="both":
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor
               %for course in sorted(modulestore().get_courses(), key=lambda x: (x.start is None, x.start), reverse=True):
                    % if course.has_started() and not course.has_ended() and not (course.end is not None) and course.org.lower()=="usherbrooke" and course.catalog_visibility=="both":
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor

           </ul>
        </section>
    </section>
    </section>


    %if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        <% counter  = 0  %>
    %endif

    <% for course in sorted(modulestore().get_courses(),key=lambda x: (x.end is None, x.end), reverse=True):
           if course.has_ended() and course.org.lower() == "usherbrooke" and course.catalog_visibility == "both" :
              counter += 1
    %>

    %if counter !=0 :
        <h1>${_("Completed")}</h1>
    %endif

    <section class="courses-container">
    <section class="highlighted-courses">
        <section class="courses">
           <ul class="courses-listing">
               %for course in sorted(modulestore().get_courses(),key=lambda x: (x.end is None, x.end), reverse=True):
                    %if course.has_ended() and course.org.lower() == "usherbrooke" and course.catalog_visibility == "both" :
                        <li class="courses-listing-item">
                            <%include file="../course-edulib.html" args="course=course" />
                        </li>
                    %endif
               %endfor
           </ul>
        </section>
    </section>
    </section>

</section>
</section>
